/* import */
/* Colors */
/* Colors */
/* Global styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  background-color: #E7F6FF;
  padding: 20px 0 50px 0;
}

.wrapper {
  background-color: #fff;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}

button, input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
}

/* Style for head hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Reset */
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: unset;
  background-color: transparent;
  cursor: pointer;
}

/* title and search styles */
.wrapper-title-search {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  width: 100%;
}
.wrapper-title-search .title {
  width: 60%;
}
.wrapper-title-search .search-input {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  width: 250px;
  height: 45px;
  position: relative;
}
.wrapper-title-search .search-input input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 35px;
  padding-right: 15px;
}
.wrapper-title-search .search-input input:focus {
  outline: none;
}
.wrapper-title-search .search-input input::placeholder {
  color: #C4C4C4;
}
.wrapper-title-search .search-input .search-icon {
  position: absolute;
  top: 35%;
  left: 10px;
  width: 14px;
  height: 14px;
  fill: #E4E4E4;
}
.wrapper-title-search .search-input .search-clear {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 15px;
  height: 11px;
  width: 11px;
  transform: rotate(-45deg);
}

/* card list styles */
.card-list {
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-list .card-item:nth-last-child(-n+2) {
  background: transparent;
  border: none;
  border-radius: 0;
  width: 22%;
}
.card-list .card-item:nth-last-child(-n+2):hover {
  transition: unset;
  transform: unset;
  box-shadow: unset;
}

/* Favorites page styles */
.favorite-wrapper-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px 0;
}
.favorite-wrapper-empty .favorite-empty-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 11px;
}
.favorite-wrapper-empty .favorite-empty-subtitle {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.4;
  margin-bottom: 70px;
}
.favorite-wrapper-empty .favorite-empty-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9DD458;
  border-radius: 18px;
  padding: 17px 50px;
  transition: 0.3s ease;
}
.favorite-wrapper-empty .favorite-empty-button:hover {
  transition: 0.3s ease;
  background-color: #8BC344;
}
.favorite-wrapper-empty .favorite-empty-button:hover .favorite-button-icon {
  transition: transform 0.3s;
  transform: translatex(-7px) rotate(180deg);
}
.favorite-wrapper-empty .favorite-empty-button .favorite-button-icon {
  transition: transform 0.3s;
  margin-right: 15px;
  width: 14px;
  height: 12px;
  transform: rotate(180deg);
}

.favorite-wrapper {
  padding: 40px 60px 0;
}
.favorite-wrapper .favorite-top {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.favorite-wrapper .favorite-top .favorite-button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  height: 35px;
  width: 35px;
  transition: transform 0.3s;
  margin-right: 31px;
}
.favorite-wrapper .favorite-top .favorite-button-back .favorite-back-icon {
  width: 7px;
  height: 12px;
  transform: rotate(-180deg);
}
.favorite-wrapper .favorite-top .favorite-button-back:hover {
  transition: transform 0.3s;
  transform: translateY(-5px);
}

/*# sourceMappingURL=style.css.map */
